In [7]:
# QNo. 1
print("Twinke, twinkle, little star,")
print("         How I wonder what you are!")
print("                 Up above the world so high,")
print("                 Like a diamond in the sky,")
print("Twinke, twinkle, little star,")
print("         How I wonder what you are!")

Twinke, twinkle, little star,
         How I wonder what you are!
                 Up above the world so high,
                 Like a diamond in the sky,
Twinke, twinkle, little star,
         How I wonder what you are!

In [6]:
# QNo. 3
from datetime import datetime
now = datetime.now()
 
print("Date and Time =", now)

now = 2021-10-24 18:49:09.963294

In [13]:
# QNo. 5

A= int(input("Value 1...."))
B= int(input("Value 2...."))

print("Total is", A+B)

Value 1....12
Value 2....24
Total is 36

In [ ]:
# QNo. 6

First= input("First Name....")
Last= input("Last Name.....")

print("Your Name is ...", Last + "" + First);

In [ ]:
# QNo. 7
v1= int(input("Maths Marks..."))
v2= int(input("English Marks..."))
v3= int(input("Urdu Marks..."))
v4= int(input("Islamiat Marks..."))
v5= int(input("Pak Studies Marks..."))

S=v1+v2+v3+v4+v5
T=S/500*100

if(T>=80):
    print("A1");
elif (T>=70 and T<80):
    print("A");
elif (T>=60 and T<70):
    print("B");
elif (T>=50 and T<60):
    print("C");
else:
    print("Failed...")

In [ ]:
# QNo. 8
v1= int(input("Number..."))

if(v1%2==0):
    print("Even Number...")
else:
    print("Odd Number...")

In [ ]:
# QNo. 9
v1= input("Name Please...")

print("Lenght of Value entered is " , len(v1))

In [ ]:
# QNo. 10
It = [1,2,3,4,5]
T= It[0]+ It[1]+ It[2]+ It[3]+ It[4]

print("Sum of Items...", T)

In [ ]:
# QNo. 11
*It = [1,2,3,4,5]

In [ ]:
# QNo. 12
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];